section:nth-child(odd)
{
    background-color:#1ABC9C;
    color:white;
}

section:nth-child(even)
{
    color:#2C3E50;
}

/* Utils */

.icon 
{
    display:flex;
    justify-content:center;
    align-items:center;
}

.line
{
    width:10%;
    height:5px;
    border-radius:3px;
    margin:0 5px;
}

.line-white
{
    background-color:white;
}

.line-gray
{
    background-color:#2C3E50;
}

::placeholder 
{
    font-size:20px;
    color:#2C3E50;
}

/* Header */

header
{
    background-color:#2C3E50;
    padding:20px 0;
}

header .nav-link, header .navbar-brand
{
    color:white;
    font-weight:bold;
}

header .navbar-toggler-icon
{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(110%) contrast(101%);
}

/* Jumbotron */

#jumbotron figure 
{
    width:250px;
    margin:auto;
}

/* Contact */

#contact input, #contact textarea
{
    border-top:none;
    border-right:none;
    border-left:none;
    border-radius:0;
}

#contact textarea 
{
    height:200px;
}

footer
{
    color:white;
}

.footer-top
{
    background-color:#3A546D;
}

.footer-bottom
{
    background-color:#2C3E50;
}