header
{
    background-color:#2C3E50;
    color:white;
    height:80px;
}

section 
{
    height:500px;
}

section:nth-child(odd)
{
    background-color:#1ABC9C;
    color:white;
}

.col-12
{
    background-color:lightblue;
    border:2px solid red;
    height:50px;
}